* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-weight: bold;
}

body {
  position: relative;
  font-family: 'Happy Monkey', sans-serif;
  background-color: rgb(25, 23, 28);
  background-image: url('https://raw.githubusercontent.com/hopollo/HoPolloWebsite/master/img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;

  &:hover {
    color: orange;
  }

  &:visited {
    color: white;
  }
}

span {
  color: red;
}

li {
  list-style: none;
}